
body {
  background-color: #000;
  margin: 20px;
}

.border-box-2 {
  padding: 10px;
  width: 350px;
  margin-bottom: 40px;
  background-color: #308dc0;
  border: 1px #e75551 solid;
  box-sizing: border-box;
}

.border-box-1 {
  padding: 10px;
  background-color: #fda70b;
  border: 1px #e75551 solid;
  box-sizing: border-box;
  height: 152px;
}

.text-block {
  padding: 10px;
  background-color: #ddd;
  border: 1px #e75551 solid;
  box-sizing: border-box;
  position: relative;
  bottom: 16px;
}
