
body {
  background-color: #000;
  margin: 20px;
}

.block-color3 {
  padding: 0 10px;
  width: 350px;
  margin-bottom: 40px;
  background-color: #308dc0;
}

.block-color2 {
  margin: 10px 0;
  background-color: #fda70b;
}

.block-color1 {
  margin: 10px;
  padding: 10px;
  background-color: #ddd;
}

.block-color1,
.block-color2,
.block-color3 {
  border: 1px #e75551 solid;
  box-sizing: border-box;
}
